{% extends 'base.html' %}

{% block content %}
<div class="content">
  <div class="hero-unit">
    <h1>SocialBot</h1>
    <p>
      SocialBot lets you schedule <strong>Facebook</strong> status updates
      and <strong>Twitter</strong> tweets.
    </p>
  </div>
</div>

<div class= "loginbuttons">

	<a href="/facebook_login" class="fb-login-button"><img src="/static/img/fb-button.png" height="70" width="300"></img></a>

	<a href="/twitter_login" class="twitter-login-button"><img src="/static/img/twitter-button.png" height="70" width="300"></img></a>

</div>

</br>
</br>

{% endblock %} 